In [1]:
import polars as p
import math

In [4]:
df = p.DataFrame({"a": [1.0]})
df.select(p.col("a").arctan())

shape: (1, 1)
┌──────────┐
│ a        │
│ ---      │
│ f64      │
╞══════════╡
│ 0.785398 │
└──────────┘

In [5]:
cis_3h_hu = p.read_csv('R_CIS_3H_RELATIVE_HUMIDITY.csv', skip_rows=3)
cis_d_maxtemp = p.read_csv('R_CIS_D_MAX_TEMP.csv', skip_rows=3)
cis_d_mintemp = p.read_csv('R_CIS_D_MIN_TEMP.csv', skip_rows=3)
cis_3h_presmsl = p.read_csv('R_CIS_3H_PRES_MSL.csv', skip_rows=3)
cis_d_wind = p.read_csv('R_CIS_D_WIND.csv')

Measurement2 = MEAN

direction -> y = cos(dir) x = sin(y)

sumx, sumy

arctac(x/y) = degree

In [6]:
# create a dictionary to map month strings to integer values
month_dict = {"Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6, "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12}
month_reverse_dict = {v: k for k, v in month_dict.items()}

# WIND

In [90]:
def get_wind(year):
    sorted_filtered_cis_d_wind = (
        cis_d_wind.select(p.col(["DAY_OF_MONTH","MONTH","Daily_Wind_Spd","Daily_Wind_Dir"]))
        .with_columns([
            p.lit(year).alias("YEAR"),
            p.col("Daily_Wind_Dir").cos().alias("cosy"),
            p.col("Daily_Wind_Dir").sin().alias("sinx")
        ])
        .sort("DAY_OF_MONTH")
        .rename({"Daily_Wind_Spd":"Mean_Wind_Speed"})
        .filter(p.col("Mean_Wind_Speed") != 0)
        .select(
            p.col("DAY_OF_MONTH"),
            p.col("MONTH"),
            p.col("YEAR"),
            p.col("Mean_Wind_Speed"),
            p.col("cosy"),
            p.col("sinx")
        )
    )

    sumcosy = sorted_filtered_cis_d_wind.groupby("MONTH").agg(p.col("cosy").sum()).sort("MONTH")
    sumsinx = sorted_filtered_cis_d_wind.groupby("MONTH").agg(p.col("sinx").sum()).sort("MONTH")
    # compute the arctan of the ratio between sumsinx and sumcosy and convert to degrees
    arctan_value = (sumsinx["sinx"] / sumcosy["cosy"]).arctan().apply(lambda x: int(round(x * 180 / math.pi,0))).rename("arctan")
    # convert arctan_value series to a dataframe and merge with either sumcosy or sumsinx to add the "MONTH" column
    arctan_df = arctan_value.to_frame()
    df_horizontal_concat = p.concat(
        [
            arctan_df,
            sumcosy,
        ],
        how="horizontal",)
    merged_cis_d_wind_ = sorted_filtered_cis_d_wind.join(df_horizontal_concat, on="MONTH", how="left")
    merged_cis_d_wind = (
        merged_cis_d_wind_.rename({"arctan": "Mean_Wind_Direction"})
        .select(p.col(["DAY_OF_MONTH","MONTH","YEAR","Mean_Wind_Speed","Mean_Wind_Direction"]))
    )
    return merged_cis_d_wind

In [91]:
sorted_filtered_cis_d_wind = (
    cis_d_wind.select(p.col(["DAY_OF_MONTH","MONTH","Daily_Wind_Spd","Daily_Wind_Dir"]))
    .with_columns([
        p.lit(2022).alias("YEAR"),
        p.col("Daily_Wind_Dir").cos().alias("cosy"),
        p.col("Daily_Wind_Dir").sin().alias("sinx")
    ])
    .sort("DAY_OF_MONTH")
    .rename({"Daily_Wind_Spd":"Mean_Wind_Speed"})
    .filter(p.col("Mean_Wind_Speed") != 0)
    .select(
        p.col("DAY_OF_MONTH"),
        p.col("MONTH"),
        p.col("YEAR"),
        p.col("Mean_Wind_Speed"),
        p.col("cosy"),
        p.col("sinx")
    )
)

sumcosy = sorted_filtered_cis_d_wind.groupby("MONTH").agg(p.col("cosy").sum()).sort("MONTH")
sumsinx = sorted_filtered_cis_d_wind.groupby("MONTH").agg(p.col("sinx").sum()).sort("MONTH")
# compute the arctan of the ratio between sumsinx and sumcosy and convert to degrees
arctan_value = (sumsinx["sinx"] / sumcosy["cosy"]).arctan().apply(lambda x: int(round((x * 180 / math.pi) + (360 if x < 0 else 0), 0))).rename("arctan")

# convert arctan_value series to a dataframe and merge with either sumcosy or sumsinx to add the "MONTH" column
arctan_df = arctan_value.to_frame()
df_horizontal_concat = p.concat(
    [
        arctan_df,
        sumcosy,
    ],
    how="horizontal",)
merged_cis_d_wind_ = sorted_filtered_cis_d_wind.join(df_horizontal_concat, on="MONTH", how="left")
merged_cis_d_wind = (
    merged_cis_d_wind_.rename({"arctan": "Mean_Wind_Direction"})
    .select(p.col(["DAY_OF_MONTH","MONTH","YEAR","Mean_Wind_Speed","Mean_Wind_Direction"]))
)

In [47]:
test_DF = (
    merged_cis_d_wind_.rename({"arctan": "Mean_Wind_Direction"})
        .groupby(["DAY_OF_MONTH", "MONTH", "YEAR"])
        .agg([
            p.col("Mean_Wind_Direction").list(),
            p.col("Mean_Wind_Speed").first().alias("Mean_Wind_Speed")
        ])
)

In [ ]:
test_DF = (
    merged_cis_d_wind.arr()
)

In [92]:
test_DF = (
    merged_cis_d_wind_.rename({"arctan": "Mean_Wind_Direction"})
        .groupby(["DAY_OF_MONTH", "MONTH", "YEAR","Mean_Wind_Speed"], maintain_order=True)
        .agg(
            p.col("Mean_Wind_Direction").arr.concat(p.col('Mean_Wind_Speed')).flatten()
        )
)

In [89]:
def wind_list(dfwindunique): 
    df = (
        dfwindunique
            .groupby(["DAY_OF_MONTH", "MONTH", "YEAR","Mean_Wind_Speed"], maintain_order=True)
            .agg(
                p.col("Mean_Wind_Direction").arr.concat(p.col('Mean_Wind_Speed')).flatten()
            )
    )
    return df

In [93]:
test_DF

shape: (372, 5)
┌──────────────┬───────┬──────┬─────────────────┬─────────────────────┐
│ DAY_OF_MONTH ┆ MONTH ┆ YEAR ┆ Mean_Wind_Speed ┆ Mean_Wind_Direction │
│ ---          ┆ ---   ┆ ---  ┆ ---             ┆ ---                 │
│ i64          ┆ str   ┆ i32  ┆ i64             ┆ list[i64]           │
╞══════════════╪═══════╪══════╪═════════════════╪═════════════════════╡
│ 1            ┆ Jan   ┆ 2022 ┆ 11              ┆ [67, 11]            │
│ 1            ┆ Feb   ┆ 2022 ┆ 10              ┆ [340, 10]           │
│ 1            ┆ Mar   ┆ 2022 ┆ 9               ┆ [298, 9]            │
│ 1            ┆ Apr   ┆ 2022 ┆ 12              ┆ [86, 12]            │
│ ...          ┆ ...   ┆ ...  ┆ ...             ┆ ...                 │
│ 31           ┆ Sep   ┆ 2022 ┆ null            ┆ [305, null]         │
│ 31           ┆ Oct   ┆ 2022 ┆ 9               ┆ [13, 9]             │
│ 31           ┆ Nov   ┆ 2022 ┆ null            ┆ [10, null]          │
│ 31           ┆ Dec   ┆ 2022 ┆ 8               ┆ [10, 8]             │
└──────────────┴───────┴──────┴─────────────────┴─────────────────────┘

In [87]:
test_DF.write_json("path.json")

In [43]:
test_DF = test_DF.select([
    "DAY_OF_MONTH",
    "MONTH",
    "YEAR",
    p.col("list").alias("Mean_Wind_Direction"),
    "Mean_Wind_Speed"
])

ColumnNotFoundError: list

Error originated just after this operation:
DF ["DAY_OF_MONTH", "MONTH", "YEAR", "Mean_Wind_Direction"]; PROJECT */5 COLUMNS; SELECTION: "None"

In [21]:
merged_cis_d_wind

shape: (372, 5)
┌──────────────┬───────┬──────┬─────────────────┬─────────────────────┐
│ DAY_OF_MONTH ┆ MONTH ┆ YEAR ┆ Mean_Wind_Speed ┆ Mean_Wind_Direction │
│ ---          ┆ ---   ┆ ---  ┆ ---             ┆ ---                 │
│ i64          ┆ str   ┆ i32  ┆ f64             ┆ i64                 │
╞══════════════╪═══════╪══════╪═════════════════╪═════════════════════╡
│ 1            ┆ Jan   ┆ 2022 ┆ 8.3             ┆ 67                  │
│ 1            ┆ Feb   ┆ 2022 ┆ 8.9             ┆ 340                 │
│ 1            ┆ Mar   ┆ 2022 ┆ 9.0             ┆ 298                 │
│ 1            ┆ Apr   ┆ 2022 ┆ 9.1             ┆ 86                  │
│ ...          ┆ ...   ┆ ...  ┆ ...             ┆ ...                 │
│ 31           ┆ Sep   ┆ 2022 ┆ 8.7             ┆ 305                 │
│ 31           ┆ Oct   ┆ 2022 ┆ 9.0             ┆ 13                  │
│ 31           ┆ Nov   ┆ 2022 ┆ 8.3             ┆ 10                  │
│ 31           ┆ Dec   ┆ 2022 ┆ 8.6             ┆ 10                  │
└──────────────┴───────┴──────┴─────────────────┴─────────────────────┘

In [10]:
sumsinx

shape: (12, 2)
┌───────┬───────────┐
│ MONTH ┆ sinx      │
│ ---   ┆ ---       │
│ str   ┆ f64       │
╞═══════╪═══════════╡
│ Apr   ┆ 3.478416  │
│ Aug   ┆ -8.57642  │
│ Dec   ┆ 1.802061  │
│ Feb   ┆ -1.411233 │
│ ...   ┆ ...       │
│ May   ┆ -1.729882 │
│ Nov   ┆ 2.222614  │
│ Oct   ┆ 1.873747  │
│ Sep   ┆ -3.276936 │
└───────┴───────────┘

In [9]:
sumcosy

shape: (12, 2)
┌───────┬───────────┐
│ MONTH ┆ cosy      │
│ ---   ┆ ---       │
│ str   ┆ f64       │
╞═══════╪═══════════╡
│ Apr   ┆ 0.260349  │
│ Aug   ┆ -1.611469 │
│ Dec   ┆ 9.753338  │
│ Feb   ┆ 3.888738  │
│ ...   ┆ ...       │
│ May   ┆ 1.397407  │
│ Nov   ┆ 12.222536 │
│ Oct   ┆ 7.980627  │
│ Sep   ┆ 2.310788  │
└───────┴───────────┘

In [10]:
merged_cis_d_wind

shape: (372, 5)
┌──────────────┬───────┬──────┬─────────────────┬─────────────────────┐
│ DAY_OF_MONTH ┆ MONTH ┆ YEAR ┆ Mean_Wind_Speed ┆ Mean_Wind_Direction │
│ ---          ┆ ---   ┆ ---  ┆ ---             ┆ ---                 │
│ i64          ┆ str   ┆ i32  ┆ f64             ┆ i64                 │
╞══════════════╪═══════╪══════╪═════════════════╪═════════════════════╡
│ 1            ┆ Jan   ┆ 2022 ┆ 8.3             ┆ 67                  │
│ 1            ┆ Feb   ┆ 2022 ┆ 8.9             ┆ -20                 │
│ 1            ┆ Mar   ┆ 2022 ┆ 9.0             ┆ -62                 │
│ 1            ┆ Apr   ┆ 2022 ┆ 9.1             ┆ 86                  │
│ ...          ┆ ...   ┆ ...  ┆ ...             ┆ ...                 │
│ 31           ┆ Sep   ┆ 2022 ┆ 8.7             ┆ -55                 │
│ 31           ┆ Oct   ┆ 2022 ┆ 9.0             ┆ 13                  │
│ 31           ┆ Nov   ┆ 2022 ┆ 8.3             ┆ 10                  │
│ 31           ┆ Dec   ┆ 2022 ┆ 8.6             ┆ 10                  │
└──────────────┴───────┴──────┴─────────────────┴─────────────────────┘

# PRESSURE

In [177]:
def get_mean_press(year,month):
    sorted_filtered_cis_3h_presmsl = (
        cis_3h_presmsl.filter(p.col('HOURS') == "22:00")
        .select(p.col(["DAY_OF_MONTH","Mean_of_Day"]))
        .with_columns([
            p.lit(month).alias("MONTH"), 
            p.lit(year).alias("YEAR")
        ])
        .sort("DAY_OF_MONTH")
        .rename({"Mean_of_Day":"Mean_Pressure_Day"})
        .select(
            p.col("DAY_OF_MONTH"),
            p.col("MONTH"),
            p.col("YEAR"),
            p.col("Mean_Pressure_Day")
        )
    )
    return sorted_filtered_cis_3h_presmsl

In [4]:
sorted_filtered_cis_3h_presmsl = (
    cis_3h_presmsl.filter(p.col('HOURS') == "22:00")
    .select(p.col(["DAY_OF_MONTH","Mean_of_Day"]))
    .with_columns([
        p.lit("Jan").alias("MONTH"), 
        p.lit(2022).alias("YEAR")
    ])
    .sort("DAY_OF_MONTH")
    .rename({"Mean_of_Day":"Mean_Pressure_Day"})
    .select(
        p.col("DAY_OF_MONTH"),
        p.col("MONTH"),
        p.col("YEAR"),
        p.col("Mean_Pressure_Day")
    )
)

In [12]:
sorted_filtered_cis_3h_presmsl

shape: (31, 4)
┌──────────────┬───────┬──────┬───────────────────┐
│ DAY_OF_MONTH ┆ MONTH ┆ YEAR ┆ Mean_Pressure_Day │
│ ---          ┆ ---   ┆ ---  ┆ ---               │
│ i64          ┆ str   ┆ i32  ┆ f64               │
╞══════════════╪═══════╪══════╪═══════════════════╡
│ 1            ┆ Jan   ┆ 2022 ┆ 1009.7            │
│ 2            ┆ Jan   ┆ 2022 ┆ 1009.2            │
│ 3            ┆ Jan   ┆ 2022 ┆ 1009.5            │
│ 4            ┆ Jan   ┆ 2022 ┆ 1009.9            │
│ ...          ┆ ...   ┆ ...  ┆ ...               │
│ 28           ┆ Jan   ┆ 2022 ┆ 1014.6            │
│ 29           ┆ Jan   ┆ 2022 ┆ 1015.1            │
│ 30           ┆ Jan   ┆ 2022 ┆ 1015.9            │
│ 31           ┆ Jan   ┆ 2022 ┆ 1015.9            │
└──────────────┴───────┴──────┴───────────────────┘

# HUMID

In [178]:
def get_mean_humi(year,month):
    sorted_filtered_cis_3h_hu = (
        cis_3h_hu.filter(p.col('HOURS') == "22:00")
        .select(p.col(["DAY_OF_MONTH","Mean_of_Day"]))
        .with_columns([
            p.lit(month).alias("MONTH"), 
            p.lit(year).alias("YEAR")
        ])
        .sort("DAY_OF_MONTH")
        .rename({"Mean_of_Day":"Mean_Humid_Day"})
        .select(
            p.col("DAY_OF_MONTH"),
            p.col("MONTH"),
            p.col("YEAR"),
            p.col("Mean_Humid_Day")
        )
    )
    return sorted_filtered_cis_3h_hu

In [5]:
sorted_filtered_cis_3h_hu = (
    cis_3h_hu.filter(p.col('HOURS') == "22:00")
    .select(p.col(["DAY_OF_MONTH","Mean_of_Day"]))
    .with_columns([
        p.lit("Jan").alias("MONTH"), 
        p.lit(2022).alias("YEAR")
    ])
    .sort("DAY_OF_MONTH")
    .rename({"Mean_of_Day":"Mean_Humid_Day"})
    .select(
        p.col("DAY_OF_MONTH"),
        p.col("MONTH"),
        p.col("YEAR"),
        p.col("Mean_Humid_Day")
    )
)

In [13]:
sorted_filtered_cis_3h_hu

shape: (31, 4)
┌──────────────┬───────┬──────┬────────────────┐
│ DAY_OF_MONTH ┆ MONTH ┆ YEAR ┆ Mean_Humid_Day │
│ ---          ┆ ---   ┆ ---  ┆ ---            │
│ i64          ┆ str   ┆ i32  ┆ i64            │
╞══════════════╪═══════╪══════╪════════════════╡
│ 1            ┆ Jan   ┆ 2022 ┆ 78             │
│ 2            ┆ Jan   ┆ 2022 ┆ 73             │
│ 3            ┆ Jan   ┆ 2022 ┆ 67             │
│ 4            ┆ Jan   ┆ 2022 ┆ 69             │
│ ...          ┆ ...   ┆ ...  ┆ ...            │
│ 28           ┆ Jan   ┆ 2022 ┆ 63             │
│ 29           ┆ Jan   ┆ 2022 ┆ 65             │
│ 30           ┆ Jan   ┆ 2022 ┆ 64             │
│ 31           ┆ Jan   ┆ 2022 ┆ 63             │
└──────────────┴───────┴──────┴────────────────┘

# MIN

In [179]:
def get_min_temp(year):
    sorted_filtered_cis_d_mintemp = (
        cis_d_mintemp.select(p.col(["DAY_OF_MONTH","MONTH","Daily_Min_Temp"]))
        .with_columns([
            p.lit(year).alias("YEAR")
        ])
        .sort("DAY_OF_MONTH")
        .select(
            p.col("DAY_OF_MONTH"),
            p.col("MONTH"),
            p.col("YEAR"),
            p.col("Daily_Min_Temp")
        )
    )
    return sorted_filtered_cis_d_mintemp

In [6]:
sorted_filtered_cis_d_mintemp = (
    cis_d_mintemp.select(p.col(["DAY_OF_MONTH","MONTH","Daily_Min_Temp"]))
    .with_columns([
        p.lit(2022).alias("YEAR")
    ])
    .sort("DAY_OF_MONTH")
    .select(
        p.col("DAY_OF_MONTH"),
        p.col("MONTH"),
        p.col("YEAR"),
        p.col("Daily_Min_Temp")
    )
)

In [ ]:
sorted_filtered_cis_d_mintemp

# MAX

In [180]:
def get_max_temp(year):
    sorted_filtered_cis_d_maxtemp = (
        cis_d_maxtemp.select(p.col(["DAY_OF_MONTH","MONTH","Daily_Max_Temp"]))
        .with_columns([
            p.lit(year).alias("YEAR")
        ])
        .sort("DAY_OF_MONTH")
        .select(
            p.col("DAY_OF_MONTH"),
            p.col("MONTH"),
            p.col("YEAR"),
            p.col("Daily_Max_Temp")
        )
    )
    return sorted_filtered_cis_d_maxtemp

In [7]:
sorted_filtered_cis_d_maxtemp = (
    cis_d_maxtemp.select(p.col(["DAY_OF_MONTH","MONTH","Daily_Max_Temp"]))
    .with_columns([
        p.lit(2022).alias("YEAR")
    ])
    .sort("DAY_OF_MONTH")
    .select(
        p.col("DAY_OF_MONTH"),
        p.col("MONTH"),
        p.col("YEAR"),
        p.col("Daily_Max_Temp")
    )
)

In [41]:
sorted_filtered_cis_d_mintemp

shape: (372, 4)
┌──────────────┬───────┬──────┬────────────────┐
│ DAY_OF_MONTH ┆ MONTH ┆ YEAR ┆ Daily_Min_Temp │
│ ---          ┆ ---   ┆ ---  ┆ ---            │
│ i64          ┆ str   ┆ i32  ┆ f64            │
╞══════════════╪═══════╪══════╪════════════════╡
│ 1            ┆ Jan   ┆ 2022 ┆ 22.4           │
│ 1            ┆ Feb   ┆ 2022 ┆ 26.4           │
│ 1            ┆ Mar   ┆ 2022 ┆ 26.7           │
│ 1            ┆ Apr   ┆ 2022 ┆ 27.2           │
│ ...          ┆ ...   ┆ ...  ┆ ...            │
│ 31           ┆ Sep   ┆ 2022 ┆ null           │
│ 31           ┆ Oct   ┆ 2022 ┆ 26.4           │
│ 31           ┆ Nov   ┆ 2022 ┆ null           │
│ 31           ┆ Dec   ┆ 2022 ┆ 21.4           │
└──────────────┴───────┴──────┴────────────────┘

# Merge Temp

In [181]:
def get_merge_temp(sorted_filtered_cis_d_mintemp,sorted_filtered_cis_d_maxtemp):
    merge_temp = sorted_filtered_cis_d_mintemp.join(sorted_filtered_cis_d_maxtemp, on=["DAY_OF_MONTH","MONTH"], how="left")
    merge_temp = (
        merge_temp.select(p.col(["DAY_OF_MONTH","MONTH","YEAR","Daily_Min_Temp","Daily_Max_Temp"]))
        .with_columns([
            ((p.col("Daily_Min_Temp") + p.col("Daily_Max_Temp")) / 2).alias("Daily_Mean_Temp")
        ])
    )
    return merge_temp

In [46]:
merge_temp = sorted_filtered_cis_d_mintemp.join(sorted_filtered_cis_d_maxtemp, on=["DAY_OF_MONTH","MONTH"], how="left")

In [47]:
merge_temp = (
    merge_temp.select(p.col(["DAY_OF_MONTH","MONTH","YEAR","Daily_Min_Temp","Daily_Max_Temp"]))
    .with_columns([
        ((p.col("Daily_Min_Temp") + p.col("Daily_Max_Temp")) / 2).alias("Daily_Mean_Temp")
    ])
)

# WHOLE

In [174]:
def get_whole(sorted_filtered_cis_3h_presmsl,merge_temp,merged_cis_d_wind,sorted_filtered_cis_3h_hu):
    final_data = (
        sorted_filtered_cis_3h_presmsl
        .join(merge_temp.select(p.exclude("YEAR")).with_columns(p.col("MONTH").map_dict(month_dict)).sort("MONTH").with_columns(p.col("MONTH").map_dict(month_reverse_dict)), on=["DAY_OF_MONTH","MONTH"], how="inner")
        .join(merged_cis_d_wind.select(p.exclude("YEAR")).with_columns(p.col("MONTH").map_dict(month_dict)).sort("MONTH").with_columns(p.col("MONTH").map_dict(month_reverse_dict)), on=["DAY_OF_MONTH","MONTH"], how="inner")
        .join(sorted_filtered_cis_3h_hu.select(p.exclude("YEAR")).with_columns(p.col("MONTH").map_dict(month_dict)).sort("MONTH").with_columns(p.col("MONTH").map_dict(month_reverse_dict)), on=["DAY_OF_MONTH","MONTH"], how="inner")
    )
    return final_data

In [159]:
final_data = (
    sorted_filtered_cis_3h_presmsl
    .join(merge_temp.select(p.exclude("YEAR")).with_columns(p.col("MONTH").map_dict(month_dict)).sort("MONTH").with_columns(p.col("MONTH").map_dict(month_reverse_dict)), on=["DAY_OF_MONTH","MONTH"], how="inner")
    .join(merged_cis_d_wind.select(p.exclude("YEAR")).with_columns(p.col("MONTH").map_dict(month_dict)).sort("MONTH").with_columns(p.col("MONTH").map_dict(month_reverse_dict)), on=["DAY_OF_MONTH","MONTH"], how="inner")
    .join(sorted_filtered_cis_3h_hu.select(p.exclude("YEAR")).with_columns(p.col("MONTH").map_dict(month_dict)).sort("MONTH").with_columns(p.col("MONTH").map_dict(month_reverse_dict)), on=["DAY_OF_MONTH","MONTH"], how="inner")
)

# DEMO WHOLE CALLED

In [184]:
def get_all(year,month):
    data = get_whole(get_mean_press(year,month),get_merge_temp(get_min_temp(year),get_max_temp(year)),get_wind(year),get_mean_humi(year,month))
    return data

In [185]:
year = 2022
month = "Jan"
# create a dictionary to map month strings to integer values
month_dict = {"Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6, "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12}
month_reverse_dict = {v: k for k, v in month_dict.items()}
data = get_all(year,month)

# QA Check

In [190]:
from polars.testing import assert_frame_equal

In [192]:
print(assert_frame_equal(data,final_data))

None

In [188]:
data

shape: (31, 10)
┌────────────┬───────┬──────┬────────────┬─────┬────────────┬────────────┬────────────┬────────────┐
│ DAY_OF_MON ┆ MONTH ┆ YEAR ┆ Mean_Press ┆ ... ┆ Daily_Mean ┆ Mean_Wind_ ┆ Mean_Wind_ ┆ Mean_Humid │
│ TH         ┆ ---   ┆ ---  ┆ ure_Day    ┆     ┆ _Temp      ┆ Speed      ┆ Direction  ┆ _Day       │
│ ---        ┆ str   ┆ i32  ┆ ---        ┆     ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│ i64        ┆       ┆      ┆ f64        ┆     ┆ f64        ┆ f64        ┆ i64        ┆ i64        │
╞════════════╪═══════╪══════╪════════════╪═════╪════════════╪════════════╪════════════╪════════════╡
│ 1          ┆ Jan   ┆ 2022 ┆ 1009.7     ┆ ... ┆ 26.5       ┆ 8.3        ┆ 67         ┆ 78         │
│ 2          ┆ Jan   ┆ 2022 ┆ 1009.2     ┆ ... ┆ 26.7       ┆ 8.3        ┆ 67         ┆ 73         │
│ 3          ┆ Jan   ┆ 2022 ┆ 1009.5     ┆ ... ┆ 27.05      ┆ 8.3        ┆ 67         ┆ 67         │
│ 4          ┆ Jan   ┆ 2022 ┆ 1009.9     ┆ ... ┆ 28.1       ┆ 8.3        ┆ 67         ┆ 69         │
│ ...        ┆ ...   ┆ ...  ┆ ...        ┆ ... ┆ ...        ┆ ...        ┆ ...        ┆ ...        │
│ 28         ┆ Jan   ┆ 2022 ┆ 1014.6     ┆ ... ┆ 29.0       ┆ 8.3        ┆ 67         ┆ 63         │
│ 29         ┆ Jan   ┆ 2022 ┆ 1015.1     ┆ ... ┆ 28.9       ┆ 8.3        ┆ 67         ┆ 65         │
│ 30         ┆ Jan   ┆ 2022 ┆ 1015.9     ┆ ... ┆ 30.35      ┆ 8.3        ┆ 67         ┆ 64         │
│ 31         ┆ Jan   ┆ 2022 ┆ 1015.9     ┆ ... ┆ 29.2       ┆ 8.3        ┆ 67         ┆ 63         │
└────────────┴───────┴──────┴────────────┴─────┴────────────┴────────────┴────────────┴────────────┘

In [187]:
final_data

shape: (31, 10)
┌────────────┬───────┬──────┬────────────┬─────┬────────────┬────────────┬────────────┬────────────┐
│ DAY_OF_MON ┆ MONTH ┆ YEAR ┆ Mean_Press ┆ ... ┆ Daily_Mean ┆ Mean_Wind_ ┆ Mean_Wind_ ┆ Mean_Humid │
│ TH         ┆ ---   ┆ ---  ┆ ure_Day    ┆     ┆ _Temp      ┆ Speed      ┆ Direction  ┆ _Day       │
│ ---        ┆ str   ┆ i32  ┆ ---        ┆     ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│ i64        ┆       ┆      ┆ f64        ┆     ┆ f64        ┆ f64        ┆ i64        ┆ i64        │
╞════════════╪═══════╪══════╪════════════╪═════╪════════════╪════════════╪════════════╪════════════╡
│ 1          ┆ Jan   ┆ 2022 ┆ 1009.7     ┆ ... ┆ 26.5       ┆ 8.3        ┆ 67         ┆ 78         │
│ 2          ┆ Jan   ┆ 2022 ┆ 1009.2     ┆ ... ┆ 26.7       ┆ 8.3        ┆ 67         ┆ 73         │
│ 3          ┆ Jan   ┆ 2022 ┆ 1009.5     ┆ ... ┆ 27.05      ┆ 8.3        ┆ 67         ┆ 67         │
│ 4          ┆ Jan   ┆ 2022 ┆ 1009.9     ┆ ... ┆ 28.1       ┆ 8.3        ┆ 67         ┆ 69         │
│ ...        ┆ ...   ┆ ...  ┆ ...        ┆ ... ┆ ...        ┆ ...        ┆ ...        ┆ ...        │
│ 28         ┆ Jan   ┆ 2022 ┆ 1014.6     ┆ ... ┆ 29.0       ┆ 8.3        ┆ 67         ┆ 63         │
│ 29         ┆ Jan   ┆ 2022 ┆ 1015.1     ┆ ... ┆ 28.9       ┆ 8.3        ┆ 67         ┆ 65         │
│ 30         ┆ Jan   ┆ 2022 ┆ 1015.9     ┆ ... ┆ 30.35      ┆ 8.3        ┆ 67         ┆ 64         │
│ 31         ┆ Jan   ┆ 2022 ┆ 1015.9     ┆ ... ┆ 29.2       ┆ 8.3        ┆ 67         ┆ 63         │
└────────────┴───────┴──────┴────────────┴─────┴────────────┴────────────┴────────────┴────────────┘

In [182]:
year = 2022
month = "Jan"
# create a dictionary to map month strings to integer values
month_dict = {"Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6, "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12}
month_reverse_dict = {v: k for k, v in month_dict.items()}
get_whole(get_mean_press(year,month),get_merge_temp(get_min_temp(year),get_max_temp(year)),get_wind(year),get_mean_humi(year,month))

shape: (31, 10)
┌────────────┬───────┬──────┬────────────┬─────┬────────────┬────────────┬────────────┬────────────┐
│ DAY_OF_MON ┆ MONTH ┆ YEAR ┆ Mean_Press ┆ ... ┆ Daily_Mean ┆ Mean_Wind_ ┆ Mean_Wind_ ┆ Mean_Humid │
│ TH         ┆ ---   ┆ ---  ┆ ure_Day    ┆     ┆ _Temp      ┆ Speed      ┆ Direction  ┆ _Day       │
│ ---        ┆ str   ┆ i32  ┆ ---        ┆     ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│ i64        ┆       ┆      ┆ f64        ┆     ┆ f64        ┆ f64        ┆ i64        ┆ i64        │
╞════════════╪═══════╪══════╪════════════╪═════╪════════════╪════════════╪════════════╪════════════╡
│ 1          ┆ Jan   ┆ 2022 ┆ 1009.7     ┆ ... ┆ 26.5       ┆ 8.3        ┆ 67         ┆ 78         │
│ 2          ┆ Jan   ┆ 2022 ┆ 1009.2     ┆ ... ┆ 26.7       ┆ 8.3        ┆ 67         ┆ 73         │
│ 3          ┆ Jan   ┆ 2022 ┆ 1009.5     ┆ ... ┆ 27.05      ┆ 8.3        ┆ 67         ┆ 67         │
│ 4          ┆ Jan   ┆ 2022 ┆ 1009.9     ┆ ... ┆ 28.1       ┆ 8.3        ┆ 67         ┆ 69         │
│ ...        ┆ ...   ┆ ...  ┆ ...        ┆ ... ┆ ...        ┆ ...        ┆ ...        ┆ ...        │
│ 28         ┆ Jan   ┆ 2022 ┆ 1014.6     ┆ ... ┆ 29.0       ┆ 8.3        ┆ 67         ┆ 63         │
│ 29         ┆ Jan   ┆ 2022 ┆ 1015.1     ┆ ... ┆ 28.9       ┆ 8.3        ┆ 67         ┆ 65         │
│ 30         ┆ Jan   ┆ 2022 ┆ 1015.9     ┆ ... ┆ 30.35      ┆ 8.3        ┆ 67         ┆ 64         │
│ 31         ┆ Jan   ┆ 2022 ┆ 1015.9     ┆ ... ┆ 29.2       ┆ 8.3        ┆ 67         ┆ 63         │
└────────────┴───────┴──────┴────────────┴─────┴────────────┴────────────┴────────────┴────────────┘

In [160]:
final_data

shape: (31, 10)
┌────────────┬───────┬──────┬────────────┬─────┬────────────┬────────────┬────────────┬────────────┐
│ DAY_OF_MON ┆ MONTH ┆ YEAR ┆ Mean_Press ┆ ... ┆ Daily_Mean ┆ Mean_Wind_ ┆ Mean_Wind_ ┆ Mean_Humid │
│ TH         ┆ ---   ┆ ---  ┆ ure_Day    ┆     ┆ _Temp      ┆ Speed      ┆ Direction  ┆ _Day       │
│ ---        ┆ str   ┆ i32  ┆ ---        ┆     ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│ i64        ┆       ┆      ┆ f64        ┆     ┆ f64        ┆ f64        ┆ i64        ┆ i64        │
╞════════════╪═══════╪══════╪════════════╪═════╪════════════╪════════════╪════════════╪════════════╡
│ 1          ┆ Jan   ┆ 2022 ┆ 1009.7     ┆ ... ┆ 26.5       ┆ 8.3        ┆ 67         ┆ 78         │
│ 2          ┆ Jan   ┆ 2022 ┆ 1009.2     ┆ ... ┆ 26.7       ┆ 8.3        ┆ 67         ┆ 73         │
│ 3          ┆ Jan   ┆ 2022 ┆ 1009.5     ┆ ... ┆ 27.05      ┆ 8.3        ┆ 67         ┆ 67         │
│ 4          ┆ Jan   ┆ 2022 ┆ 1009.9     ┆ ... ┆ 28.1       ┆ 8.3        ┆ 67         ┆ 69         │
│ ...        ┆ ...   ┆ ...  ┆ ...        ┆ ... ┆ ...        ┆ ...        ┆ ...        ┆ ...        │
│ 28         ┆ Jan   ┆ 2022 ┆ 1014.6     ┆ ... ┆ 29.0       ┆ 8.3        ┆ 67         ┆ 63         │
│ 29         ┆ Jan   ┆ 2022 ┆ 1015.1     ┆ ... ┆ 28.9       ┆ 8.3        ┆ 67         ┆ 65         │
│ 30         ┆ Jan   ┆ 2022 ┆ 1015.9     ┆ ... ┆ 30.35      ┆ 8.3        ┆ 67         ┆ 64         │
│ 31         ┆ Jan   ┆ 2022 ┆ 1015.9     ┆ ... ┆ 29.2       ┆ 8.3        ┆ 67         ┆ 63         │
└────────────┴───────┴──────┴────────────┴─────┴────────────┴────────────┴────────────┴────────────┘

In [156]:
sorted_filtered_cis_3h_presmsl

shape: (31, 4)
┌──────────────┬───────┬──────┬───────────────────┐
│ DAY_OF_MONTH ┆ MONTH ┆ YEAR ┆ Mean_Pressure_Day │
│ ---          ┆ ---   ┆ ---  ┆ ---               │
│ i64          ┆ str   ┆ i32  ┆ f64               │
╞══════════════╪═══════╪══════╪═══════════════════╡
│ 1            ┆ Jan   ┆ 2022 ┆ 1009.7            │
│ 2            ┆ Jan   ┆ 2022 ┆ 1009.2            │
│ 3            ┆ Jan   ┆ 2022 ┆ 1009.5            │
│ 4            ┆ Jan   ┆ 2022 ┆ 1009.9            │
│ ...          ┆ ...   ┆ ...  ┆ ...               │
│ 28           ┆ Jan   ┆ 2022 ┆ 1014.6            │
│ 29           ┆ Jan   ┆ 2022 ┆ 1015.1            │
│ 30           ┆ Jan   ┆ 2022 ┆ 1015.9            │
│ 31           ┆ Jan   ┆ 2022 ┆ 1015.9            │
└──────────────┴───────┴──────┴───────────────────┘

In [158]:
merge_temp.with_columns(p.col("MONTH").map_dict(month_dict)).sort("MONTH").with_columns(p.col("MONTH").map_dict(month_reverse_dict))

shape: (372, 6)
┌──────────────┬───────┬──────┬────────────────┬────────────────┬─────────────────┐
│ DAY_OF_MONTH ┆ MONTH ┆ YEAR ┆ Daily_Min_Temp ┆ Daily_Max_Temp ┆ Daily_Mean_Temp │
│ ---          ┆ ---   ┆ ---  ┆ ---            ┆ ---            ┆ ---             │
│ i64          ┆ str   ┆ i32  ┆ f64            ┆ f64            ┆ f64             │
╞══════════════╪═══════╪══════╪════════════════╪════════════════╪═════════════════╡
│ 1            ┆ Jan   ┆ 2022 ┆ 22.4           ┆ 30.6           ┆ 26.5            │
│ 2            ┆ Jan   ┆ 2022 ┆ 22.3           ┆ 31.1           ┆ 26.7            │
│ 3            ┆ Jan   ┆ 2022 ┆ 22.4           ┆ 31.7           ┆ 27.05           │
│ 4            ┆ Jan   ┆ 2022 ┆ 23.4           ┆ 32.8           ┆ 28.1            │
│ ...          ┆ ...   ┆ ...  ┆ ...            ┆ ...            ┆ ...             │
│ 28           ┆ Dec   ┆ 2022 ┆ 20.5           ┆ 31.6           ┆ 26.05           │
│ 29           ┆ Dec   ┆ 2022 ┆ 20.0           ┆ 31.9           ┆ 25.95           │
│ 30           ┆ Dec   ┆ 2022 ┆ 22.5           ┆ 30.7           ┆ 26.6            │
│ 31           ┆ Dec   ┆ 2022 ┆ 21.4           ┆ 29.9           ┆ 25.65           │
└──────────────┴───────┴──────┴────────────────┴────────────────┴─────────────────┘

In [157]:
merge_temp.with_columns(p.col("MONTH").map_dict(month_dict))

shape: (372, 6)
┌──────────────┬───────┬──────┬────────────────┬────────────────┬─────────────────┐
│ DAY_OF_MONTH ┆ MONTH ┆ YEAR ┆ Daily_Min_Temp ┆ Daily_Max_Temp ┆ Daily_Mean_Temp │
│ ---          ┆ ---   ┆ ---  ┆ ---            ┆ ---            ┆ ---             │
│ i64          ┆ i64   ┆ i32  ┆ f64            ┆ f64            ┆ f64             │
╞══════════════╪═══════╪══════╪════════════════╪════════════════╪═════════════════╡
│ 1            ┆ 1     ┆ 2022 ┆ 22.4           ┆ 30.6           ┆ 26.5            │
│ 1            ┆ 2     ┆ 2022 ┆ 26.4           ┆ 32.6           ┆ 29.5            │
│ 1            ┆ 3     ┆ 2022 ┆ 26.7           ┆ 34.4           ┆ 30.55           │
│ 1            ┆ 4     ┆ 2022 ┆ 27.2           ┆ 35.9           ┆ 31.55           │
│ ...          ┆ ...   ┆ ...  ┆ ...            ┆ ...            ┆ ...             │
│ 31           ┆ 9     ┆ 2022 ┆ null           ┆ null           ┆ null            │
│ 31           ┆ 10    ┆ 2022 ┆ 26.4           ┆ 33.2           ┆ 29.8            │
│ 31           ┆ 11    ┆ 2022 ┆ null           ┆ null           ┆ null            │
│ 31           ┆ 12    ┆ 2022 ┆ 21.4           ┆ 29.9           ┆ 25.65           │
└──────────────┴───────┴──────┴────────────────┴────────────────┴─────────────────┘

In [95]:
final_data

shape: (961, 7)
┌──────────────┬───────┬──────┬─────────────────┬────────────────┬────────────────┬────────────────┐
│ DAY_OF_MONTH ┆ MONTH ┆ YEAR ┆ Mean_Pressure_D ┆ Daily_Min_Temp ┆ Daily_Max_Temp ┆ Daily_Mean_Tem │
│ ---          ┆ ---   ┆ ---  ┆ ay              ┆ ---            ┆ ---            ┆ p              │
│ i64          ┆ str   ┆ i32  ┆ ---             ┆ f64            ┆ f64            ┆ ---            │
│              ┆       ┆      ┆ f64             ┆                ┆                ┆ f64            │
╞══════════════╪═══════╪══════╪═════════════════╪════════════════╪════════════════╪════════════════╡
│ 1            ┆ Jan   ┆ 2022 ┆ 1009.7          ┆ 22.4           ┆ 30.6           ┆ 26.5           │
│ 1            ┆ Jan   ┆ 2022 ┆ 1009.7          ┆ 22.3           ┆ 31.1           ┆ 26.7           │
│ 1            ┆ Jan   ┆ 2022 ┆ 1009.7          ┆ 22.4           ┆ 31.7           ┆ 27.05          │
│ 1            ┆ Jan   ┆ 2022 ┆ 1009.7          ┆ 23.4           ┆ 32.8           ┆ 28.1           │
│ ...          ┆ ...   ┆ ...  ┆ ...             ┆ ...            ┆ ...            ┆ ...            │
│ 31           ┆ Jan   ┆ 2022 ┆ 1015.9          ┆ 24.8           ┆ 33.2           ┆ 29.0           │
│ 31           ┆ Jan   ┆ 2022 ┆ 1015.9          ┆ 24.2           ┆ 33.6           ┆ 28.9           │
│ 31           ┆ Jan   ┆ 2022 ┆ 1015.9          ┆ 25.1           ┆ 35.6           ┆ 30.35          │
│ 31           ┆ Jan   ┆ 2022 ┆ 1015.9          ┆ 25.2           ┆ 33.2           ┆ 29.2           │
└──────────────┴───────┴──────┴─────────────────┴────────────────┴────────────────┴────────────────┘