# Implement a function to reverse a string.

In [ ]:
#Ans
def reverse_string_function(input_str):
    return input_str[::-1]
#(start:stop:step)
#(ถ้าติดลบคือย้อนจากหลังมาข้างหน้า)

In [ ]:
#Test
def reverse_string_function(input_str):
    return input_str[::-1]

# ตัวอย่างการใช้งาน
original_string = "Hello, World!"
reversed_string = reverse_string_function(original_string)
print("Original string:", original_string)
print("Reversed string:", reversed_string)

# How would you group a DataFrame by a specific column and calculate the mean value of another column?

In [ ]:
#Ans
result = df.groupby('column_1')[['column_2', 'column_3','column_4']].mean()

In [23]:
#Test
import pandas as pd

# Create a sample DataFrame
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value1': [10, 15, 20, 25, 30, 35],
        'Value2': [5, 8, 12, 18, 25, 30],
        'Value3': [5, 8, 12, 18, 25, 30],
        'Value4': [5, 8, 12, 18, 25, 30],
        'Value5': [5, 8, 12, 18, 25, 30]
        }

df = pd.DataFrame(data)

# การใช้งาน .agg(...) คือจะทำให้ใช้งาน func agg ได้หลากหลายมากขึ้น
# เเต่จริง ๆจะใช้ func agg ตรง ๆ เลยก็ได้ เช่น .mean() .max() ซึ่งมันจะสะดวกต่อการใช้งานเเค่ func agg เดียวนั้น ๆเเค่นั้น
# result = df.groupby('Category')[['Value1', 'Value2', 'Value3', 'Value4', 'Value5']].agg(['mean'])

# ถ้าเอามาต่อกันอย่างนี้มันจะทำการ หาค่าเฉลี่ยก่อน เเล้วก็หาค่า Max ในค่าเฉลี่ยนั้น ๆอีกที
result = df.groupby('Category')[['Value1', 'Value2', 'Value3', 'Value4', 'Value5']].mean()

print(result)

          Value1     Value2     Value3     Value4     Value5
Category
A           20.0  14.000000  14.000000  14.000000  14.000000
B           25.0  18.666667  18.666667  18.666667  18.666667

# Implement a function to count the frequency of each element in an array.
* ให้ไปศึกษาเรื่อง list set tuples dict python มาด้วย

In [ ]:
#Ans
def count_frequency(input_array):
    frequency = {}

    for i in input_array:
        if i in frequency:
            frequency[i] += 1
        else:
            frequency[i] = 1

    return frequency

In [24]:
#Test
def count_frequency(arr):
    frequency_dict = {}

    for element in arr:
        if element in frequency_dict:
            frequency_dict[element] += 1
        else:
            frequency_dict[element] = 1

    return frequency_dict

# Example usage:
arr = [1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
result = count_frequency(arr)
print(result)

{1: 4, 2: 3, 3: 2, 4: 1}

# How would you merge two DataFrames based on a common column?
* ให้ไปศึกษาเรื่อง merge ของ pandas ด้วย

In [ ]:
#Ans
merge_df = pd.merge(df1, df2, on='column_1', how='inner')

In [25]:
#Test
import pandas as pd

# Creating two sample DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['Alice', 'Bob', 'Charlie']})
df2 = pd.DataFrame({'ID': [1, 2, 4], 'Age': [25, 30, 22]})

# Merge DataFrames based on the 'ID' column
merged_df = pd.merge(df1, df2, on='ID', how='inner')  # 'inner' is the default, you can use 'left', 'right', or 'outer' as well

print(merged_df)

   ID   Name  Age
0   1  Alice   25
1   2    Bob   30

# How do you read a CSV file into a Pandas DataFrame?

In [ ]:
#Ans
raw_data = pd.read_csv('raw_data.csv')

In [28]:
#Test
import pandas as pd
raw = pd.read_csv('D:/Desktop/clear_github/Python_Test/pandas/Test_pandas/sorce/raw.csv',sep='[|]',engine='python')
print(type(raw))
print(raw)

<class 'pandas.core.frame.DataFrame'>

# Implement a function to check if a given string is a palindrome.

In [ ]:
#Ans
def is_palindrome(input_str):
    clear_str = input_str.lower().replace(" ", "")
    return clear_str == clear_str[::-1]

In [72]:
#Test
def is_palindrome(input_str):
    clear_str = input_str.lower().replace(" ", "")
    return clear_str == clear_str[::-1]

# Example usage:
string1 = "A man a plan a canal Panama"
string2 = "Was it a car or a cat I saw"

print(is_palindrome(string1))  # Output: True
print(is_palindrome(string2))  # Output: False

True
True

In [61]:
#Test
def is_palindrome(input_str):
    # Convert the input string to lowercase and remove spaces
    clean_str = ''.join(input_str.lower().split())

    # Check if the cleaned string is equal to its reverse
    return clean_str == clean_str[::-1]

# Example usage:
string1 = "A man a plan a canal Panama"
string2 = "hello"

print(is_palindrome(string1))  # Output: True
print(is_palindrome(string2))  # Output: False

True
False

# Implement a function to remove duplicates from a list.

In [ ]:
#Ans
df.drop_duplicates(['column_1', 'column_2', 'column_3'], inplace=True)

In [ ]:
#Test

# Write a program to sort an array of integers in ascending order.

In [77]:
#Ans
array_int = [3,5,32,6,49,14,1,9]
array_int.sort()
print(array_int)

[1, 3, 5, 6, 9, 14, 32, 49]

In [76]:
#Test
unsorted_list = [2,4,5,32,6,255,5,42]
unsorted_list.sort()
print("Now it is sorted:", unsorted_list)

Now it is sorted: [2, 4, 5, 5, 6, 32, 42, 255]

# How can you drop a column from a DataFrame?

In [ ]:
#Ans    
df.drop(['column_1'], axis=1, inplace=True)

In [ ]:
#Test